<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MyFridge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="/">MyFridge</a>
     
      </div>
      <nav>
      <ul class="nav navbar-nav">

        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/logout">LOG Out</a></li>
        {% if user %}
        <li><a href={{user.id}}> Your Home Page </a></li>
        <li><a href='/users/{{user.id}}/fridge'>FRIDGE</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  </head>
  {% block content %}
  
  <body>


 <h1>What is in your FRIDGE? find recipes!! </h1>

  <form action="/recipe">
    <input type="text" name="ingredients" placeholder="add ingredients">
    <button type="submit">GO!!</button>
  </form>

  <div id="output">

    
  </div>

</body>
{% endblock %}


</html>